@use "../../assets/colors.scss" as *;
@use "../../assets/index.scss" as *;
@use "sass:math";

$card-font-size: 23px * $scale;
$card-width: 175px * $scale;

@mixin center {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@mixin no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: $gap;
  gap: $gap * 4;
  overflow: auto;
}

.lights {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}

.sensors {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.card-big {
  height: $card-width;
  justify-content: center !important;
  text-align: center;
  font-size: $card-font-size;
}

.card-brightness {
  height: 120px * $scale;
}

.card-data {
  height: 100px * $scale;
}

.card {
  @include center;
  width: $card-width;
  border-radius: $border-radius;
  background-color: $card-background;
  padding: 15px;
  @include no-select;
  cursor: pointer;
  transition: 0.3s;
  position: relative;

  &:active {
    transform: scale(0.95);
  }

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.card-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-name {
  font-size: math.div($card-font-size, 1.5);
}

.device-name {
  font-size: $card-font-size;
}

.small-text {
  font-size: math.div($card-font-size, 2);
}

/* Different options for the cards such as brightness, color setting, ect. */
.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px * $scale;
}

.option-title {
  place-self: start;
  font-size: 15px * $scale;

  p {
    font-family: "InterMedium", Helvetica, sans-serif;
  }
}

.slider {
  background-color: $card-background;
  width: 100%;
  border-radius: $border-radius;
  height: 25px * $scale;
  display: flex;
  align-items: center;

  .cursor {
    height: 45px * $scale;
    width: 45px * $scale;
    background-color: $white;
    border-radius: 50%;
    font-size: 15px * $scale;
    display: grid;
    place-items: center;
    margin-left: 15%;

    p {
      color: $black;
    }
  }
}

.card-popout {
  height: 75px * $scale;
  position: static !important;
  background-color: $card-background;
}

.card-state {
  height: 60px * $scale;
  justify-content: center;
}

.data-value {
  size: 30px * $scale;
}

.enabled {
  background-color: $enabled;
  color: $black;

  p {
    color: $black !important;
  }
}

.color-container * {
  -webkit-user-select: all !important;
  -ms-user-select: all !important;
  user-select: all !important;
}
