@use "../assets/colors" as *;
@use "../assets/index" as *;

.container {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, $background-top, $background-bottom);
}

.line {
  width: 100%;
  background-color: $card-background;
  height: 2px * $scale;
  border-radius: 10px;
}

.big-line {
  width: 100%;
  background-color: $black;
  height: 2.5px * $scale;
}
