@use "../../assets/colors" as *;
@use "../../assets/index" as *;

.scenes {
  padding: $gap 0 0 $gap;
  overflow: auto;
}

.scenes-cards {
  padding: $gap 0 $gap $gap;
  display: flex;
  gap: $gap;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.title {
  padding-top: 20px * $scale;
  padding-left: 30px * $scale;
}

.scene {
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $card-background;
  font-size: 28px * $scale;
  padding: 20px * $scale 30px * $scale;
  white-space: nowrap;
  min-width: fit-content;
}
