@use "../../assets/colors" as *;
@use "../../assets/index" as *;

.title {
  padding-top: 20px * $scale;
  padding-left: 30px * $scale;
}

.scenes-cards {
  padding: $gap 0 $gap $gap;
  display: flex;
  gap: $gap;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .scene {
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $card-background;
    font-size: 28px * $scale;
    padding: 20px * $scale 30px * $scale;
    white-space: nowrap;
    min-width: fit-content;
    cursor: pointer;
    transition: transform 0.3s;

    &.enabled {
      background-color: $enabled;
      color: $black;

      p {
        color: $black !important;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
